.App {
  text-align: center;
  font-size: 50px;
}

.cross {
  text-decoration: line-through;
}
.high-score {
  background-color: green;
}
.medium-score {
  background-color: yellow;
}
.low-score {
  background-color: red;
}
.win {
  background-color: greenyellow;
}
.lose {
  background-color: red;
}
